/* ---------------------------------------------- /*
 * PRELOADER ANIMATION
/* ---------------------------------------------- */

#preloader {
  background: #ffffff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#status {
  background-image: url(../images/status.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

/* ---------------------------------------------- /*
 * PROJECT TILES/CARDS
/* ---------------------------------------------- */

.card-header {
  background: linear-gradient(to right, #2c503e 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .25s ease-out;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #2c503e;
}

.card-header h4 {
  transition: all .25s ease-out;
}

.card-body {
  background: #f0f0f0;
}

.w3-card:hover .card-header {
  background-position: left bottom;
}

.w3-card:hover .card-header h4 {
  color: white;
  transition: all .25s ease-out;
}

.w3-card:hover .w3-container p {
  color: #1abc9c;
  transition: all .25s ease-out;
}

.w3-card p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all .25s ease-out;
}

.card-container {
  padding-bottom: 25px;
}

/* ---------------------------------------------- /*
 * VARIOUS TYPOGRAPHY ENHANCEMENTS
/* ---------------------------------------------- */

.row .highlight {
  color: #555555;
  transition: all .15s ease-out;
}

.row:hover .highlight {
  color: #1abc9c;
  transition: all .15s ease-out;
}

/* ---------------------------------------------- /*
 * IMAGE PARALLAX
/* ---------------------------------------------- */

.parallax {
  /* Set a specific height */
  height: 400px;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Hook up images to hover effects */
.parallax-work-img:hover #work-header {
    opacity: 1.0;
}

.parallax-service-img:hover #service-header {
    opacity: 1.0;
}

.parallax-projects-img:hover #projects-header {
    opacity: 1.0;
}

.parallax-hobbies-img:hover #hobbies-header {
    opacity: 1.0;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.parallax-work-img {
  /* The image used */
  background-image: url("../images/Work-Header.jpg");
  background-position: left;
}

.parallax-service-img {
  /* The image used */
  background-image: url("../images/Service-Header.jpg");
  background-position: center;
}

.parallax-projects-img {
  /* The image used */
  background-image: url("../images/Projects-Header.jpg");
  background-position: left;
}

.parallax-hobbies-img {
  /* The image used */
  background-image: url("../images/Hobbies-Header.jpeg");
  background-position: left;
}

/* ---------------------------------------------- /*
 * HOBBY ICONS
/* ---------------------------------------------- */

.hobby-icon {
  color: #555555;
  transition: all .15s ease-out;
}

.hobby-sub:hover .hobby-icon {
  color: #1abc9c;
  transition: all .15s ease-out;
}

.hobby-card {
  text-transform: none;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
}

/* ---------------------------------------------- /*
 * NAVIGATION
/* ---------------------------------------------- */

.header {
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  width: 100%;
  z-index: 998 !important;
}

.navbar a {
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.navbar-custom .dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-custom {
  border: 0;
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: Lora, sans-serif;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
  background: #fff;
  padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
  font-size: 11px;
  letter-spacing: 3px;
  color: #222;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
  background: none;
  outline: 0;
  color: #1abc9c;
}

.navbar-custom .navbar-brand {
  font-weight: 300;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
}

.navbar-custom .dropdown-menu {
  border: 0;
  border-top: 2px solid #1abc9c;
  border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
  padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
  background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
  background: #222;
}